* {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
/*     background: linear-gradient(180deg, rgba(197, 185, 187, 1) 0%,
            rgba(32, 50, 60, 1) 29%,
            rgba(31, 49, 59, 1) 100%,
            rgba(24, 42, 52, 1) 100%);
    background-size: 100%; */
    .contenedor {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
}

html, body, div, span, applet, object,
	iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, a, abbr, acronym, address, big, cite,
	code, del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var, b,
	u, i, center, dl, dt, dd, ol, ul, li, fieldset,
	form, label, legend, table, caption, tbody,
	tfoot, thead, tr, th, td, article, aside,
	canvas, details, embed, figure, figcaption,
	footer, header, hgroup, menu, nav, output, ruby,
	section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
	}

/* Header */
header {
    background-image: url('../../img/portadaimg3.jpg');
    background-size: 100%;
    height: 1010px;

    nav {
        width: 100%;
        height: 110px;
        background-color: #2e3842;
        border-bottom: 1px solid transparent;
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .8);
        /* position: fixed; */
        top: 0;
        z-index: 9;
        transition: ease-in-out 0.5s;

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logoImg {
                h1 {
                    margin-left: 40px;
                }

                display: flex;
                align-items: center;
                font-family: 'Syncopate',
                sans-serif;
                color: white;
                font-size: 24px;
                padding: 6px 0;

            }

            .hamburguer {
                display: none;
                color: white;
            }

            .enlaces-nav a {
                &:hover {
                    border-bottom: 1px solid #f2f2f2;
                }

                color: #f2f2f2;
                font-size: 18px;
                text-decoration: none;
                margin-left: 20px;
            }
        }
    }

    .contenedor-port {
        margin-top: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
        
        .contenedor-text {

            width: 40%;

            .nombre {

                h2 {
                    font-size: 3.2em;
                    color: #f2f2f2;
                    border-bottom: 1px solid white;

                }
            }

            p {
                margin-top: 20px;
                font-size: 1.55em;
                color: white;
            }


        }

        i {
            margin-top: 400px;
            font-size: 60px;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }

    }

}

/* Acerca de mi */
.about-me {
    background: #5EA5EC;
    height: 800px;

    .about-container {
        text-align: center;
        width: 80%;

        h1 {
            margin-top: 100px;
            padding-bottom: 5px;
            color: #fff;
            font-size: 2.7em;
            border-bottom: 2px solid hsla(210, 43%, 29%, 0.5);
            line-height: 2.5em;
        }

        p {
            padding-top: 20px;
            font-size: 1.3em;
            color: #e9fbfa;
        }

        .iconos {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            font-size: 3.5em;

            ul li {
                width: 103px;
                height: 103px;
                color: #2A4969;
                /* Arriba | Derecha | Abajo | Izquierda */
                margin: 60px 0px 80px 0px;
                padding: 10px;
                list-style: none;
                display: inline-block;
            }
        }
    }
}

/* Proyectos */
.projects {
    background-color: #2e3842;
    min-height: 367px;
}

.container-projects .proyecto {
    display: flex;
    .image {
        width: 45%;
        max-width: 600px;
        
        img {
            width: 100%;
            display: block;
        }
    }

    .content {
        color: #e6e7f5;
        /* Arriba | Derecha | Abajo | Izquierda */
        padding: 8em 4em;
        h2 {
            font-size: 2.4em;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.25em;
        }
       
    }
}

.pro2 {
    background-color: rgba(0, 0, 0, 0.15);
    flex-direction: row-reverse;
    text-align: end;
}

/* Habilidades o skills */
.skills {
    background-color: #2A4969;
    padding: 0 0 60px  0;
    .skills-des {
        margin: auto;
        text-align: center;
        padding: 6em 0 4em 0;

        h2 {
            color: #fff;
            font-size: 2.4em;
            margin-bottom: 10px;
        }

        p {
            color: #fff;
            font-size: 1.25em;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-wrapper {
            margin-bottom: 50px;
        }

        .swiper-slide {
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img{
                width: 200px;
            }

            h3{
                margin-top: 50px;
                color: #fff;
                font-size: 24px;
            }
        }

        .boton {
            color: #13181d;
        }

    }


}

footer {
    background-color: #2e3842;
    .social-contact {
        background-color: rgba(0,0,0,0.15);
        
        padding: 60px 0;

        a {
            color: #fff;
            text-align: center;
            width: 100px;
            display: block;
            padding: 15px 0;
            border-radius: 3px;
            font-size: 30px;
            margin: 0 20px;
        }

        .twitter {
            &:hover {
                background: #1da1f2;
            }
        }

        .youtube {
            &:hover {
                background: #fff;
                color: #ff0000;
            }
        }

        .github {
            &:hover {
                background: #211F1F;
            }
        }

        .facebook {
            &:hover {
                background: #3b5998;
            }
        }

        .contenedor {
            display: flex;
            justify-content: center;
        }
    }

}

/* Mediaqueries */

@media screen and (max-width:1280px) {

    .container-projects {
        .proyecto{
            .content {
                padding: 6em 2em;
                h2 {font-size: 1.7em;}
             }
        } 
    } 
}

/* @media screen and (max-width:1290px) {
    section {
        .about-me {
            h1 {
                font-size: 42px;
            }
        }  
    }
    .projects {
        .proyecto {
            max-height: 310px;
            .image {
                width: 32%;
            }
            .content {
                padding: 3em 4em;
                h2 { font-size: 30px;}
                p { font-size: 18px;}
            }
        }    
    }

}  */

@media screen and (max-width:1024px) {
    header {
        max-height: 900px;
        nav{
            .nav-container {
                padding: 10px;
                h1 {
                    font-size: 24px;
                }
                
                .logoImg {
                    img {
                        width: 60px;
                    }
                }
            }
        }

        .contenedor-port {
            .contenedor-text {
                p {
                    font-size: 24px;
                }
                .nombre {
                    h2 {
                        font-size: 2.4em;
                    }
                }
                i{
                    margin-top: 300px;
                }
            }
        }
    }

    section {
        .about-me {
            h1 {
                font-size: 42px;
            }
        }  
    }

    .projects {
        .proyecto {
            .image {
                width: 80%;
            }
            .content {
                padding: 5em 2em;
                h2 {font-size: 1.5em; }
                p { font-size: 1.1em;}
            }
        }    
    }

    .skills {
        padding: 0 0 50px  0;
        .skills-des {
            padding: 3em 0 4em 0;
            h2 { font-size: 2em;}
            p {font-size: 1.1em;}
        }
        .swiper {
            .swiper-slide {
                img { width: 150px; }
            }
        }
    }

}

@media screen and (max-width:768px) {
    header {
        max-height: 900px;
        nav{
            .nav-container {
                h1 {
                    font-size: 24px;
                }
                padding: 20px;
                .logoImg {
                    img {
                        width: 50px;
                    }
                }
                .enlaces-nav {
                    a {display: none;}
                }
                .hamburguer {
                    display: inline;
                    margin-left: 20px;
                    i{ font-size: 30px;}
                }
            }
        }

        .contenedor-port {
            .contenedor-text {
                p {
                    font-size: 22px;
                }
                .nombre {
                    width: 300px;
                    h2 {
                        font-size: 36px;
                    }
                }
                i{
                    margin-top: 300px;
                }
            }
        }
    }

    .about-me {
        
        .about-container {
            h1 { font-size: 2.4em; }
            p { font-size: 1.2em; }
        }  
    }
    

    .projects {
        .proyecto {
            flex-direction: column;
            max-height: 1200px;
            .image {
                width: 100%;
                max-width: 100%;
            }
            .content {
                padding: 2em 2em;
                margin-bottom: 120px;
                text-align: center;
                h2 { font-size: 28px;}
                p { font-size: 18px; margin-top: 20px;}
            }
        }    
    }

    footer {
        .social-contact {
            padding: 40px;
        }
    }

}

@media screen and (max-width:425px) {
    header {
        background-image: url('../../img/portadaimg.webp');
        background-size: cover;
        max-height: 850px;
        nav {
            height: 90px;
            .nav-container {
                padding: 25px 0;
                .logoImg {
                    h1 {margin-left: 0px}
                    img {
                        display: none;
                    }
                }
            }
        }
        .contenedor-port {
            .contenedor-text {
                margin-left: 20px;
                width: 100%;
                i{ margin-top: 220px; }
            }
        }
    }
    .about-me {
        .about-container {
            padding: 0 1em;
            h1 { margin-top: 50px;}
            p { font-size: 18px; }
            width: 90%;
        }
    }

    .projects {
        .proyecto {
            .content {
                padding: 2em 1em;
                margin-bottom: 120px;
            }
        }
    }
    .skills {
        .skills-des {
            padding: 4em 2em;
        }
        .swiper {
            .swiper-slide {
                img { width: 150px; }
            }
        }
    }
}

@media screen and (max-width:375px) {
    .about-me {
        .about-container {
            p { font-size: 18px; }
        }
    }

    .projects {
        .proyecto {
            .content {
                h2 { font-size: 26px;}
                p { font-size: 16px;}
                padding: 1em 2em;
                margin-bottom: 140px;
            }
        }
    }

    .skills {
        padding: 0 0 30px 0;
        .skills-des {
            padding: 3em 1em;
        }
    }
}